html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

th {
    background-color: rgb(157, 188, 255);
    color: #ffffff;
}

th, td {
    padding: 8px;
    border: 1px solid rgb(157, 188, 255);
    text-align: center; 
    font-size: 14px;
    white-space: nowrap; 
}

td {
    position: relative;
}

.link-chevron {
    position: absolute;
    right: 30px;
    top: 30%;
    text-decoration: none;
    color: rgb(222, 233, 253);
}

.link-chevron i {
    font-size: 14px;
    vertical-align: middle;
}

.link-chevron:hover {
    color: #000;
}

.more {
    color: #888;
    font-size: 12px;
}
